.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

h2 {
    font-family: 'Fraunces', serif;
}

.spacing {
    letter-spacing: 1.5rem;
}